body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #21252b;
}

.row .nav-pills .nav-link {
  color: #21252b;
}

main {
  min-height: 44vw;
}

.carousel-img {
  width: 100%;
  max-height: 50vw;
  min-height: 500px;
  object-fit: cover;
}

.footer-bg {
  background: #21252b;
  color: #fff;
}